<h1 class="text-center my-4">Friends</h1>

<div class="container mt-4">
    {{#if message}}
    <div class="alert alert-info">{{message}}</div>
    {{/if}}

    <div class="row">
        <!-- Friend Requests -->
        <div class="col-md-6">
            <h3>Friend Requests</h3>
            {{#if pendingRequests}}
            <div class="list-group">
                {{#each pendingRequests}}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{this.requester}}</span>
                    <div>
                        <form class="d-inline" action="/accept-friend-request" method="POST">
                            <input type="hidden" name="requestId" value="{{this.id}}">
                            <button type="submit" class="btn btn-success btn-sm">Accept</button>
                        </form>
                        <form class="d-inline" action="/reject-friend-request" method="POST">
                            <input type="hidden" name="requestId" value="{{this.id}}">
                            <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                        </form>
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <p>No pending friend requests</p>
            {{/if}}
        </div>

        <!-- Friends List -->
        <div class="col-md-6">
            <h3>My Friends</h3>
            {{#if friends}}
            <div class="list-group">
                {{#each friends}}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{this.friend_username}}</span>
                    <form class="d-inline" action="/remove-friend" method="POST">
                        <input type="hidden" name="friendId" value="{{this.id}}">
                        <button type="submit" class="btn btn-danger btn-sm">Remove Friend</button>
                    </form>
                </div>
                {{/each}}
            </div>
            {{else}}
            <p>No friends yet</p>
            {{/if}}
        </div>
    </div>

    <!-- Add Friend Form -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Send Friend Request</h5>
                    <form action="/send-friend-request" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="addressee" placeholder="Enter username" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

